<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#         async defer#}
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?language=en&region=US&key=AIzaSyD5bvGu5btI-WbyjRhh1uIKgI75E6myqGw&libraries=places"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
